modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NEXT_PUBLIC_SUPABASE_URL = "https://kthjejmuudpkcumplskm.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0aGplam11dWRwa2N1bXBsc2ttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MzEyMzIsImV4cCI6MjA5MTMwNzIzMn0.aKH_y4C86UApo4qK5bEg3RIfaf6aBm9r2lpaEsjPr9w"
NEXTAUTH_SECRET = "5MFMcxms/iszHMVataLPvwVN5IK6p+4CdhjJ9ZS8Mlo="
NEXTAUTH_URL = "https://1bdec863-e37c-4c91-a409-c37c1c0d7850-00-38yb962rkdj5q.picard.replit.dev"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME = "ddnlacdta"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET = "shewah-b2b"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]
